.wrapper {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}
  
.mat-table {
    overflow: auto;
    max-height: 500px;
}
  
.header {
    padding: 8px 24px 0;
}
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}

table {
  width: 100%;
}

h2 {
    padding: 1em 0;
}
.tableRow:hover {
    background-color: #D4F2CD;
    transform: scale(1.0005);
}

h2 button {
    float: right;
    padding: 0 5em;
}

#map {
    height: 100%;
}

.map-frame {
    border: 2px solid black;
    height: 100%;
}

.map-wrapper {
    margin: 0 3em 3em 3em;
    min-height: 400px;
}