<h3>Повеќе информации</h3>
<br>
<table class="table table-striped">
    <tbody>
        <tr>
            <td>Име</td>
            <td>{{worker?.name}}</td>
        </tr>
        <tr>
            <td>Гранка</td>
            <td>{{worker?.branch}}</td>
        </tr>
        <tr>
            <td>Титула</td>
            <td>{{worker?.title}}</td>
        </tr>
    </tbody>
    <br>
    <tbody *ngIf="worker?.facility">
        <tr>
            <td>Институција</td>
            <td>{{worker?.facility?.name}}</td>
        </tr>
        <tr *ngIf="isExpanded">
            <td>Општина</td>
            <td>{{worker?.facility?.municipality}}</td>
        </tr>
        <tr *ngIf="isExpanded">
            <td>Тип</td>
            <td>{{worker?.facility?.type}}</td>
        </tr>
        <tr *ngIf="isExpanded">
            <td>Адреса</td>
            <td>{{worker.facility?.address}}</td>
        </tr>
        <tr *ngIf="isExpanded">
            <td>Е-пошта</td>
            <td>{{worker.facility?.email}}</td>
        </tr>
        <tr *ngIf="isExpanded">
            <td>Телефон</td>
            <td>{{worker.facility?.phone}}</td>
        </tr>
    </tbody>
    <tbody *ngIf="!worker?.facility">
        <tr>
            <td>Институција</td>
            <td>Нема податок</td>
        </tr>
        <tr *ngIf="isExpanded">
            <td>Општина</td>
            <td>Нема податок</td>
        </tr>
        <tr *ngIf="isExpanded">
            <td>Тип</td>
            <td>Нема податок</td>
        </tr>
        <tr *ngIf="isExpanded">
            <td>Адреса</td>
            <td>Нема податок</td>
        </tr>
        <tr *ngIf="isExpanded">
            <td>Е-пошта</td>
            <td>Нема податок</td>
        </tr>
        <tr *ngIf="isExpanded">
            <td>Телефон</td>
            <td>Нема податок</td>
        </tr>
    </tbody>
</table>
<button mat-icon-button color="primary" *ngIf="!isExpanded" (click)="toggleExpansion()" style="min-width: 100%">
    <mat-icon>expand_more</mat-icon>
</button>
<button mat-icon-button color="primary" *ngIf="isExpanded" (click)="toggleExpansion()" style="min-width: 100%">
    <mat-icon>expand_less</mat-icon>
</button>
<p><button mat-button color="primary" (click)="close()">Затвори</button></p>