<app-nav-menu></app-nav-menu>

<mat-tab-group dynamicHeight mat-stretch-tabs>
  <mat-tab class="tab" label="Лекови">
  <div class="wrapper">
    <div class="header">
    <h2>Лекови</h2>
  <mat-form-field>
    <input matInput (keyup)="applyFilterMedicines($event.target.value)" placeholder="Пронајди лек">
  </mat-form-field>
    </div>
  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="true">
      <thead>
        <tr>
      	  <th>Име</th>
      	  <th>Форма</th>
      	  <th>Цена</th>
      	</tr>
      </thead>
      <tbody>
      	<tr *ngFor="let medicine of filteredMedicines" (click)="openMedicineDialog(medicine)" class="tableRow">
      	  <td>{{ medicine.name }}</td>
      	  <td>{{ medicine.form }}</td>
      	  <td>{{ medicine.price }}</td>
      	</tr>
    </tbody>
  </table>
  </div>
  </mat-tab>
  <mat-tab class="tab" label="Аптеки">
  <div class="wrapper">
    <div class="header">
    <h2>Аптеки 
      <button mat-icon-button color="primary" (click)="refreshMap()" [disabled]="!showMap">
        <mat-icon>refresh</mat-icon>Освежи
      </button>
      <button mat-icon-button color="accent" [disabled]="clicked" (click)="toggleMap(); clicked = true">
        <mat-icon>map</mat-icon>Активирај
      </button>
    </h2>
    <div class="map-wrapper" *ngIf="showMap">
      <div class="map-frame">
        <div id="map" style="height: 400px;" leaflet [leafletOptions]="options"></div>
      </div>
    </div>

    <mat-form-field>
      <input matInput (keyup)="applyFilterPharmacies($event.target.value)" placeholder="Пронајди аптека">
    </mat-form-field>
    </div>
    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="true">
      <thead>
        <tr>
      	  <th>Име</th>
      	  <th>Локација</th>
      	  <th>Работи 27/7?</th>
      	</tr>
      </thead>
      <tbody>
      	<tr *ngFor="let pharmacy of filteredPharmacies" (click)="openPharmacyDialog(pharmacy)" class="tableRow">
      	  <td>{{ pharmacy.name }}</td>
      	  <td>{{ pharmacy.location }}</td>
      	  <td *ngIf="pharmacy.workAllTime == true">Да</td>
      	  <td *ngIf="pharmacy.workAllTime != true">Не</td>
      	</tr>
    </tbody>
  </table>

    </div>
    </mat-tab>
  </mat-tab-group>