<h3>Повеќе информации</h3>
<table class="table table-striped">
    <tbody>
        <tr>
            <td>Име</td>
            <td>{{facility?.name}}</td>
        </tr>
        <tr>
            <td>Општина</td>
            <td>{{facility?.municipality}}</td>
        </tr>
        <tr>
            <td>Тип на установа</td>
            <td>{{facility?.type}}</td>
        </tr>
        <tr>
            <td>Адреса</td>
            <td>{{facility?.address}}</td>
        </tr>
        <tr>
            <td>Е-пошта</td>
            <td>{{facility?.email}}</td>
        </tr>
        <tr>
            <td>Телефон</td>
            <td>{{facility?.phone}}</td>
        </tr>
    </tbody>
</table>

<div style="height: 200px;" leaflet [leafletOptions]="options" *ngIf="mapShown"></div>
<br>
<p><button mat-button color="primary" (click)="close()">Затвори</button></p>